{% extends 'base.html' %}
{% load cache static %}

{% block style %}
    <style>
        .card-header .fa {
            transition: .3s transform ease-in-out;
        }

        .card-header .collapsed .fa {
            transform: rotate(90deg);
        }

        .card-header {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Lesson Detail -->
        <div class="row">
            <div class="col-lg-8 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Course Description</h6>
                    </div>
                    <div class="card-body">
                        {% if object.image %}
                            <div class="text-center">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                     src="{{ object.image.url }}" alt="">
                            </div>
                        {% endif %}
                        <p>{{ object.description }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">About Supervisor</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-6 col-xs-12 col-sm-12 text-center">
                                <img class="img-profile rounded-circle"
                                     style="height: 100%; width: 100%; display: block;"
                                     src="

                                             {% if object.owner.avatar %}{{ object.owner.avatar.url }}{% else %}{% static 'img/avatardefault_92824.png' %}{% endif %}">
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Name and Surname
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ object.owner.full_name }}
                                </div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Email
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ object.owner.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Detail</h6>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 contents">
                                <h6>Modules</h6>
                                <ul id="modules">
                                    {% for m in object.module.all %}
                                        <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                                            <a href="{% url "student_course_detail_module" object.id m.id %}">
                                            <span>
                                                Module <span class="order">{{ m.order|add:1 }}</span>
                                            </span>
                                                <br>
                                                {{ m.title }}
                                            </a>
                                        </li>
                                    {% empty %}
                                        <li>No modules yet.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-sm-8">
                                <div class="module">
                                    {% cache 600 module_contents module %}
                                        {% for content in module.contents.all %}
                                            {% with item=content.item %}
                                                <div class="module-content">
                                                    <h4>{{ item.title }}</h4>
                                                    {{ item.render }}
                                                    <hr>
                                                </div>

                                            {% endwith %}
                                        {% endfor %}
                                    {% endcache %}
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        {#        <!-- Charts -->#}
        {#        <div class="row">#}
        {#            <!-- Area Chart -->#}
        {#            {% include 'index/charts/area-chart.html' %}#}
        {##}
        {#            <!-- Pie Chart -->#}
        {#            {% include 'index/charts/pie-chart.html' %}#}
        {#        </div>#}
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $('.panel-collapse').on('show.bs.collapse', function () {
            $(this).siblings('.panel-heading').addClass('active');
        });

        $('.panel-collapse').on('hide.bs.collapse', function () {
            $(this).siblings('.panel-heading').removeClass('active');
        });
    </script>
{% endblock %}