{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ quiz.title }}</h1>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 mb-4">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'quiz_start' slug=quiz.slug question_index=0%}">
                            Start quiz
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}