<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
            </div>

            <div class="row">
                {% for course in courses %}
                    {% with subject=course.subject %}
                        <div class="col-md-4">
                            <div class="shadow mb-4 m-2 lesson-card">
                            {% if course.image %}
                                <a href="{{ course.get_absolute_url }}">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ course.image.url }}" data-holder-rendered="true">
                                </a>
                            {% endif %}
                                <div class="card-body">
                                    <p class="card-text">{{ course.description|slice:":100" }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ course.get_absolute_url }}" class="btn btn-sm btn-outline-primary">View</a>
                                        </div>
                                        <small class="text-muted">{{ course.created_at }}</small>
                                    </div>
                                </div>
                           </div>
                        </div>
                    {% endwith %}
                {% empty %}
                    <div class="card-body">
                        No courses yet.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>