{% extends 'base.html' %}


{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Question bank Delete</h1>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">

                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            {% if object %}
                                Edit question bank "{{ object.title }}"
                            {% else %}
                                Create a new course
                            {% endif %}
                        </h6>
                    </div>

                    <div class="card-body">

                        <form action="" method="post">
                            {% csrf_token %}
                            <p>Are you sure you want to delete "{{ object }}"?</p>
                            <button type="submit" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Confirm</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}