{% extends 'base.html' %}
{% load course %}


{% block style %}
    <style>
        .card-header .fa {
            transition: .3s transform ease-in-out;
        }

        .card-header .collapsed .fa {
            transform: rotate(90deg);
        }

        .card-header {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    {% with course=module.course %}
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Question bank "{{ object.title }}"</h1>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Question List</h6>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="module-contents">
                                        {% for content in object.content.all %}
                                            {% with item=content.item %}
                                                <p class="mr-1">{{ item }} ({{ item|model_name }})</p>
                                                <a href="{% url 'question_bank_content_update' object.pk item|model_name item.pk %}"
                                                   class="mr-1">Edit</a>

{#                                                {% if item|model_name == 'quiz' %}#}
{#                                                    | <a href="" class="mr-1">Create question</a>#}
{#                                                    | <a href="" class="mr-1">Questions</a>#}
{#                                                {% endif %}#}

                                                <form action="{% url 'question_bank_content_delete' pk=object.pk content_id=content.pk %}"
                                                      method="post">
                                                    <input type="submit" value="Delete" class="mr-1">
                                                    {% csrf_token %}
                                                </form>
                                            {% endwith %}
                                        {% empty %}
                                            <p>This question bank has no questions yet.</p>
                                        {% endfor %}
                                    </div>
                                    <hr>
                                    <h3>Add new question:</h3>
                                    <ul class="content-types">
                                        <li>
                                            <a href="{% url "question_bank_content_create" object.pk "mcquestion" %}">Multiple
                                            Choice</a>
                                        </li>
                                        <li>
                                            <a href="{% url "question_bank_content_create" object.pk "essayquestion" %}">Essay</a>
                                        </li>
                                        <li>
                                            <a href="{% url "question_bank_content_create" object.pk "tfquestion" %}">True False</a>
                                        </li>
                                    </ul>
                                    <hr>
                                    <h3>Generate question: </h3>
                                    <ul class="content-types">
                                        <li>
                                            <a href="{% url "generate_question_bank" object.pk %}">Generate question</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endwith %}
{% endblock %}