{% extends 'base.html' %}
{% load static staticfiles i18n %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% trans 'Mine Question Bank List' %}</h1>
        </div>
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Question banks</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'question_bank_create' %}">Create question bank</a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    {% for question_bank in object_list %}
                        <div class="col-md-4">
                            <div class="shadow mb-4 m-2 lesson-card">
                                <div class="card-body">
                                    <h5 style="color: #2e59d9">{{ question_bank.title }}</h5>
                                    <p class="card-text"
                                       style="height: 60px;">{{ question_bank.description|slice:":100" }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{% url "question_bank_update" question_bank.id %}">Edit</a>
                                        <a href="{% url "question_bank_manager" question_bank.id %}">Manager</a>
                                        <a href="{% url "question_bank_delete" question_bank.id %}">Delete</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="btn-group">
                                            <a href="{{ question_bank.get_absolute_url }}"
                                               class="btn btn-sm btn-outline-primary">View</a>
                                        </div>
                                        <small class="text-muted">{{ question_bank.created_at }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>You haven't created any question bank yet.</p>
                    {% endfor %}
                </div>

            </div>
        </div>


    </div>

{% endblock %}